report/ISA.docx
sim/program.hex



asm/temp
hex/temp


# ModelSim / Questa
work/
transcript
vsim.wlf
*.wlf
*.log
*.mpf
*.mti
*.bak
tasm.exe
wlft1nf0yc
wlft2ynb2a
wlft46k4kh
wlftteq1tr
levels/stage3/tb_debugs3.sv
levels/stage3/top_debugs3.sv
report/cover.docx
report/cover.pdf
report/report.docx
report/report.pdf
report/report_v.pdf
